{% extends "WebBasket/principales/padre.html" %}


{% load static %}


{% block titulo %}

<h1> Agrega un nuevo Jugador!</h1>

    <form action="" method="POST" class = "custom-form" enctype="multipart/form-data">{% csrf_token %}
        
        {{miJugador.as_div}}

        <input type = "submit" value = "Guardar" class = "custom-btn save-btn">

    </form>

{% endblock %}

{% block descripcion %}
<div class = "btn-container">
    <a href="{% url 'LeerJugador' %}" class = "custom-btn"> Ver todos los Jugadores   </a>
</div>
{% endblock %}