{% extends "WebBasket/principales/padre.html" %}


{% load static %}


{% block titulo %}

    {{ mensaje }}

{% endblock %}

{% block descripcion %}

    <div class = "about-me">
        <h2 class = "about-me__title"> 
            Hola ¿como estan?, mi nombre es Juan Manuel Sosa 
        </h2>
        <div class="decoration-line"></div>
        <p class = "about-me__description">
            Tengo 19 años, soy de San Nicolas de los Arroyos, Argentina. Soy estudiante de Programacion, y esta es mi primera pagina web. 
            Me gusta principalmente el desarrollo web, y el diseño UX/UI. Espero que esta pagina se te sea facil de utilizar,
             y que te lleves una experiencia agradabale. 

        </p>
        <div class="decoration-line"></div>
    </div>


{% endblock %}